﻿@model ProjectFilm_CNPM.Models.ERD.Slider

@{
    ViewBag.Title = "Chi tiết slider";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var item = Model;
}

<div class="wrapper">
    <!-- Main Sidebar Container -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong class="text-danger">CHI TIẾT PHIM</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="@Url.Action("Edit", "Slider", new { id = Model.Id })" class="btn-sm btn-primary"><i class="fa fa-edit"> Sửa</i></a>
                            <a href="@Url.Action("Index", "Slider")" class="btn-sm btn-primary"><i class="fa fa-arrow-left"> Quay lại</i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Id)</th>
                                <th>@Html.DisplayNameFor(model => model.TenSlider)</th>
                                <th class="col-md-1">@Html.DisplayNameFor(modelItem => modelItem.Anh)</th>
                                <th>@Html.DisplayNameFor(model => model.URL)</th>
                                <th>@Html.DisplayNameFor(model => model.SapXep)</th>
                                <th>@Html.DisplayNameFor(model => model.ViTri)</th>
                                <th>@Html.DisplayNameFor(model => model.MoTa)</th>
                                <th>@Html.DisplayNameFor(model => model.NgayTao)</th>
                                <th>@Html.DisplayNameFor(model => model.NgayCapNhat)</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(model => model.Id)</td>
                                <td>@Html.DisplayFor(model => model.TenSlider)</td>
                                <td><img src="~/Public/img/slider/@item.Anh" alt="Img" class="img-fluid" /></td>
                                <td>@Html.DisplayFor(model => model.URL)</td>
                                <td>@Html.DisplayFor(model => model.SapXep)</td>
                                <td>@Html.DisplayFor(model => model.ViTri)</td>
                                <td>@Html.DisplayFor(model => model.MoTa)</td>
                                <th>@Html.DisplayFor(model => model.NgayTao)</th>
                                <th>@Html.DisplayFor(model => model.NgayCapNhat)</th>
                            </tr>
                        </tbody>

                    </table>

                </div> <!-- /.card-footer-->
            </div><!-- /.card -->
        </section><!-- /.content -->
    </div> <!-- /.content-wrapper -->
</div><!-- ./wrapper -->