@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var i = 1;
}

@section header{
    <link href="~/Public/css/jquery.dataTables.min.css" rel="stylesheet" />
}
@section footer{
    <script src="~/Public/js/jquery.dataTables.min.js"></script>
    <script>let table = new DataTable('#myTable');</script>
}
<div class="wrapper">
    <!-- Main Sidebar Container -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong class="text-danger">DANH MỤC LOẠI PHÒNG</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="@Url.Action("Create","Role")" class="btn-sm btn-success"><i class="fa fa-plus"> Thêm</i></a>
                            <a href="@Url.Action("Trash","Role")" class="btn-sm btn-danger"><i class="fa fa-trash"> Thùng rác</i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @*hien thi dong thong bao*@
                    @Html.Partial("Message")
                    <table class="table table-bordered table-striped" id="myTable">
                        <thead>
                            <tr>
                                <th class="col-3">Số thứ tự</th>
                                <th>Tên</th>
                                @*<th>Chức năng</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                foreach (var item in Model)
                                {

                                    <tr>
                                        <td>@i</td>
                                        <td>@item.Name </td>

                                        @* <td>
                        @if (item.TrangThai == 1)
                        {
                            <a href="@Url.Action("Status","Phong", new { id = item.MaPhong })" class="btn-sm btn-success"><i class="fa fa-toggle-on"></i></a>
                        }
                        else
                        {
                            <a href="@Url.Action("Status","Phong", new { id = item.MaPhong })" class="btn-sm btn-danger"><i class="fa fa-toggle-off"></i></a>
                        }
                        <a href="@Url.Action("Edit","Phong", new { id = item.MaPhong })" class="btn-sm btn-primary"><i class="fa fa-edit"></i></a>
                        <a href="@Url.Action("DelTrash","Phong", new { id = item.MaPhong })" class="btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                    </td>*@
                                        @{ i++;}
                                    </tr>

                                }
                            }

                        </tbody>

                    </table>

                </div> <!-- /.card-footer-->
            </div><!-- /.card -->
        </section><!-- /.content -->
    </div> <!-- /.content-wrapper -->
</div><!-- ./wrapper -->
