@model ProjectFilm_CNPM.Models.ERD.Phim

@{
    ViewBag.Title = "Chi tiết phim";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var item = Model;
}
 
<div class="wrapper">
    <!-- Main Sidebar Container -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong class="text-danger">CHI TIẾT LOẠI HÀNG</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="@Url.Action("Edit", "Phim", new { id = Model.MaPhim })" class="btn-sm btn-success"><i class="fa fa-edit"> Sửa</i></a>
                            <a href="@Url.Action("Index", "Phim")" class="btn-sm btn-success"><i class="fa fa-arrow-left"> Quay lại</i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.MaPhim)</th>
                                <th>@Html.DisplayNameFor(model => model.TenPhim)</th>
                                <th class="col-md-1">@Html.DisplayNameFor(modelItem => modelItem.Anh)</th>
                                <th>@Html.DisplayNameFor(model => model.TenRutGon)</th>
                                <th>Thời lượng(phút)</th>
                                <th>@Html.DisplayNameFor(model => model.DaoDien)</th>
                                <th>@Html.DisplayNameFor(model => model.DienVien)</th>
                                <th>@Html.DisplayNameFor(model => model.QuocGia)</th>
                                <th>@Html.DisplayNameFor(model => model.PhanLoai)</th>
                                <th>@Html.DisplayNameFor(model => model.MoTa)</th>
                                <th>@Html.DisplayNameFor(model => model.NgayTao)</th>
                                <th>@Html.DisplayNameFor(model => model.NgayCapNhat)</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(model => model.MaPhim)</td>
                                <td>@Html.DisplayFor(model => model.TenPhim)</td>
                                <td><img src="~/Public/img/phim/@item.Anh" alt="Img" class="img-fluid" /></td>
                                <td>@Html.DisplayFor(model => model.TenRutGon)</td>
                                <td>@Html.DisplayFor(model => model.ThoiLuong)</td>
                                <td>@Html.DisplayFor(model => model.Anh)</td>
                                <td>@Html.DisplayFor(model => model.DaoDien)</td>
                                <td>@Html.DisplayFor(model => model.DienVien)</td>
                                <td>@Html.DisplayFor(model => model.QuocGia)</td>
                                <td>
                                    @if (item.PhanLoai == 0)
                                    {
                                        @:T18
                                    }
                                    else if (item.PhanLoai == 1)
                                    {
                                        @:T16
                                    }
                                    else if (item.PhanLoai == 2)
                                    {
                                        @:T13
                                    }
                                    else if (item.PhanLoai == 3)
                                    {
                                        @:K
                                    }
                                    else if (item.PhanLoai == 4)
                                    {
                                        @:P
                                    }
                                    else if (item.PhanLoai == 5)
                                    {
                                        @:C
                                    }
                                </td>
                                <td>@Html.DisplayFor(model => model.MoTa)</td>
                                <th>@Html.DisplayFor(model => model.NgayTao)</th>
                                <th>@Html.DisplayFor(model => model.NgayCapNhat)</th>
                            </tr>
                        </tbody>

                    </table>

                </div> <!-- /.card-footer-->
            </div><!-- /.card -->
        </section><!-- /.content -->
    </div> <!-- /.content-wrapper -->
</div><!-- ./wrapper -->