﻿@model IEnumerable<ProjectFilm_CNPM.Models.ERD.Phim>

@{
    ViewBag.Title = "Thùng rác";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var i = 1;
}

@section header{
    <link href="~/Public/css/jquery.dataTables.min.css" rel="stylesheet" />
}
@section footer{
    <script src="~/Public/js/jquery.dataTables.min.js"></script>
    <script>let table = new DataTable('#myTable');</script>
}
<div class="wrapper">
    <!-- Main Sidebar Container -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong class="text-danger">THÙNG RÁC PHIM</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            @*<a href="@Url.Action("Create","Phim")" class="btn-sm btn-success"><i class="fa fa-plus"> Thêm</i></a>*@
                            <a href="@Url.Action("Index","Phim")" class="btn-sm btn-primary"><i class="fa fa-arrow-left"> Quay lại</i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @*hien thi dong thong bao*@
                    @Html.Partial("Message")
                    <table class="table table-bordered table-striped" id="myTable">
                        <thead>
                            <tr>
                                <th>Số thứ tự</th>
                                <th>Mã phim</th>
                                <th>@Html.DisplayNameFor(model => model.TenPhim)</th>
                                <th class="col-md-1">@Html.DisplayNameFor(modelItem => modelItem.Anh)</th>
                                <th>Thời lượng/phút</th>
                                <th>@Html.DisplayNameFor(model => model.QuocGia)</th>
                                <th>@Html.DisplayNameFor(model => model.NamPhatHanh)</th>
                                <th>@Html.DisplayNameFor(model => model.PhanLoai)</th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>@i</td>
                                    <td>@Html.DisplayFor(modelItem => item.MaPhim)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TenPhim)</td>
                                    <td><img src="~/Public/img/phim/@item.Anh" alt="Img" class="img-fluid" /></td>
                                    <td>@Html.DisplayFor(modelItem => item.ThoiLuong)</td>
                                    <td>@Html.DisplayFor(modelItem => item.QuocGia)</td>
                                    <td>@Html.DisplayFor(modelItem => item.NamPhatHanh)</td>
                                    <td>
                                        @if (item.PhanLoai == 0)
                                        {
                                            @:T18
                                        }
                                        else if (item.PhanLoai == 1)
                                        {
                                            @:T16
                                        }
                                        else if (item.PhanLoai == 2)
                                        {
                                            @:T13
                                        }
                                        else if (item.PhanLoai == 3)
                                        {
                                            @:K
                                        }
                                        else if (item.PhanLoai == 4)
                                        {
                                            @:P
                                        }
                                        else if (item.PhanLoai == 5)
                                        {
                                            @:C
                                        }
                                    </td>


                                    <td>
                                        <a href="@Url.Action("Undo","Phim", new { id = item.MaPhim })" class="btn-sm btn-success"><i class="fa fa-undo"></i></a>
                                        <a href="@Url.Action("Delete","Phim", new { id = item.MaPhim })" class="btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                                { i++;}
                            }
                        </tbody>

                    </table>

                </div> <!-- /.card-footer-->
            </div><!-- /.card -->
        </section><!-- /.content -->
    </div> <!-- /.content-wrapper -->
</div><!-- ./wrapper -->