@model ProjectFilm_CNPM.Models.ERD.SuatChieu

@{
    ViewBag.Title = "Chi Tiết Suất Chiếu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var item = Model;
}

<div class="wrapper">
    <!-- Main Sidebar Container -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong class="text-danger">CHI TIẾT SUẤT CHIẾU</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="@Url.Action("Edit", "SuatChieu", new { id = Model.MaPhim })" class="btn-sm btn-primary"><i class="fa fa-edit"> Sửa</i></a>
                            <a href="@Url.Action("Index", "SuatChieu")" class="btn-sm btn-primary"><i class="fa fa-arrow-left"> Quay lại</i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @*hien thi dong thong bao*@
                    @Html.Partial("Message")
                    <table class="table table-bordered table-striped" id="myTable">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.MaSuatChieu)</th>
                                <th>@Html.DisplayNameFor(model => model.Phim.TenPhim)</th>
                                <th>@Html.DisplayNameFor(model => model.NgayTao)</th>
                                <th>@Html.DisplayNameFor(model => model.NgayCapNhat)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.MaSuatChieu)</td>
                                <td>@Html.DisplayFor(modelItem => item.Phim.TenPhim)</td>
                                <th>@Html.DisplayFor(model => model.NgayTao)</th>
                                <th>@Html.DisplayFor(model => model.NgayCapNhat)</th>

                            </tr>
                        </tbody>

                    </table>

                </div> <!-- /.card-footer-->
            </div><!-- /.card -->
        </section><!-- /.content -->
    </div> <!-- /.content-wrapper -->
</div><!-- ./wrapper -->