﻿@model IEnumerable<ProjectFilm_CNPM.Models.ERD.DoanhThuViewModel>

@{
    ViewBag.Title = "Trang doanh thu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var i = 1;
}

@section header{
    <link href="~/Public/css/jquery.dataTables.min.css" rel="stylesheet" />
}
@section footer{
    <script src="~/Public/js/jquery.dataTables.min.js"></script>
    <script>let table = new DataTable('#myTable');</script>
}
<div class="wrapper">
    <!-- Main Sidebar Container -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong class="text-danger">DANH MỤC LOẠI PHÒNG</strong>
                        </div>
                        <div class="col-md-6 text-right">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped" id="myTable">
                        <thead>
                            <tr>
                                <th>Số thứ tự</th>
                                <th>Tên phim</th>
                                <th>Ngày chiếu</th>
                                <th>Tổng số vé</th>
                                <th>Doanh thu</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>@i</td>
                                    <td>@Html.DisplayFor(modelItem => item.TenPhim)</td>
                                    <td>@Html.DisplayFor(modelItem => item.NgayChieu)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TongSoVe)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TongTien)</td>


                                    @{ i++;}
                                </tr>

                            }
                        </tbody>

                    </table>

                </div> <!-- /.card-footer-->
            </div><!-- /.card -->
        </section><!-- /.content -->
    </div> <!-- /.content-wrapper -->
</div><!-- ./wrapper -->
