
@{
    ViewBag.Title = "Vé xem phim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <style>
        .ticket-container {
            border: 2px dashed #7a6ad8;
            border-radius: 15px;
            padding: 20px;
            max-width: 600px;
            margin: auto;
            position: relative;
            background-color: #fff;
        }

        .ticket-header, .ticket-footer {
            background-color: #7a6ad8;
            color: white;
            padding: 10px 20px;
            border-radius: 10px 10px 0 0;
        }

        .ticket-footer {
            border-radius: 0 0 10px 10px;
            text-align: center;
        }

        .ticket-body {
            padding: 20px;
        }

        .ticket-details {
            display: flex;
            justify-content: space-between;
        }

        .ticket-info {
            margin-bottom: 10px;
        }

        .btn-custom {
            background-color: #7a6ad8;
            border: 2px solid #fff;
            border-radius: 5px;
            color: white;
        }

            .btn-custom:hover {
                background-color: #5a50b2;
                border-color: #5a50b2;
            }
    </style>
</head>
<div class="main-banner" id="top">

</div>
<div class="ticket-container mt-4">
    <div class="ticket-header">
        <h4 style="text-transform:uppercase" class="d-flex justify-content-center align-items-center mt-2">@ViewBag.TenPhim</h4>
    </div>
    <div class="ticket-body">
        <div class="ticket-details">
            <div class="ticket-poster">
                <img src="~/Public/img/phim/@ViewBag.AnhPhim" alt="" class="img-fluid" style="max-width: 150px; border-radius: 10px;">
            </div>
            <div class="ticket-info">
                <p><strong>Galaxy Nha Trang Center - @ViewBag.TenPhong</strong></p>
                <p>Suất: <strong>@ViewBag.GioChieu.ToString("HH:mm")</strong> - @ViewBag.GioChieu.ToString("dddd", new System.Globalization.CultureInfo("vi-VN")) @ViewBag.GioChieu.ToString("dd/MM")</p>
                <p>Loại ghế:  @string.Join(", ", ViewBag.loaighe)</p>
                <p>Ghế: @string.Join(", ", ViewBag.DanhSachGhe)</p>
                <p><strong>Tổng cộng: @(ViewBag.TongGia.ToString("N0")) đ</strong></p>
            </div>
        </div>
    </div>
    <div class="ticket-footer">
        <button class="btn btn-custom" id="payButton">Thanh Toán</button>
        <a href="/"><button class="btn btn-secondary">Quay Lại</button></a>
    </div>
    <div class="alert alert-success mt-3" id="successMessage" style="display: none;">
        Thanh toán thành công!
    </div>
</div>

<script>
   
    document.getElementById('payButton').addEventListener('click', function () {
        document.getElementById('successMessage').style.display = 'block';
    });
</script>
