@model IEnumerable<ProjectFilm_CNPM.Models.ApplicationUser>
@{
    ViewBag.Title = "Quản lý tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var i = 1;
}

@section header{
    <link href="~/Public/css/jquery.dataTables.min.css" rel="stylesheet" />
}
@section footer{
    <script src="~/Public/js/jquery.dataTables.min.js"></script>
    <script>let table = new DataTable('#myTable');</script>
}
<div class="wrapper">
    <!-- Main Sidebar Container -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong class="text-danger">DANH SÁCH TÀI KHOẢN</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="@Url.Action("Create","Account")" class="btn-sm btn-success"><i class="fa fa-plus"> Thêm</i></a>
                            <a href="@Url.Action("Trash","Account")" class="btn-sm btn-danger"><i class="fa fa-trash"> Thùng rác</i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    @*hien thi dong thong bao*@
                    @Html.Partial("Message")
                    <table class="table table-bordered table-striped" id="myTable">
                        <thead>
                            <tr>
                                <th class="col-3">Số thứ tự</th>
                                <th>Tài khoản</th>
                                <th>Họ và tên</th>
                                <th>Email</th>
                                <th>Số điện thoại</th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                foreach (var item in Model)
                                {

                                    <tr>
                                        <td>@i</td>
                                        <td>@item.UserName </td>
                                        <td>@item.Ten </td>
                                        <td>@item.Email </td>
                                        <td>@item.SoDienThoai  </td>
                                        <td>
                                            <a href="@Url.Action("Edit","Account", new { id = item.Id })" class="btn-sm btn-primary"><i class="fa fa-edit"></i></a>
                                            <a href="@Url.Action("DelTrash","Account", new { id = item.Id })" class="btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                                        </td>
                                        @{ i++;}
                                    </tr>

                                }
                            }

                        </tbody>

                    </table>

                </div> <!-- /.card-footer-->
            </div><!-- /.card -->
        </section><!-- /.content -->
    </div> <!-- /.content-wrapper -->
</div><!-- ./wrapper -->
