<head>
    <style>
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li.scroll-to-section {
            position: relative;
            display: inline-block;
        }

            li.scroll-to-section .dropdown-toggle,
            li.scroll-to-section a {
                text-decoration: none;
                padding: 10px 15px;
                display: block;
                color: white;
                background-color: #7a6ad8;
                border: none;
                cursor: pointer;
            }

            li.scroll-to-section .dropdown-content {
                display: none;
                position: absolute;
                background-color: white; /* White background for dropdown */
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                min-width: 160px;
                padding: 0; /* Remove padding to ensure items are close */
            }

                li.scroll-to-section .dropdown-content a {
                    color: black; /* Black text for dropdown items */
                    padding: 8px 12px; /* Adjust padding for closer items */
                    text-decoration: none;
                    display: block;
                    text-align: center;
                    line-height: normal;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                    li.scroll-to-section .dropdown-content a:hover {
                        background-color: rgba(0, 0, 0, 0.1); /* Slightly darker background on hover */
                    }

            li.scroll-to-section:hover .dropdown-content,
            .dropdown:hover .dropdown-menu {
                display: block;
            }

        .dropdown > .dropdown-toggle:active {
            pointer-events: none;
        }

        .header-area .main-nav .nav li a {
            border-radius: 0px !important;
        }

        .btn-primary {
            background-color: #7a6ad8;
            border: none;
            padding: 10px 15px;
            color: white;
            cursor: pointer;
        }

            .btn-primary:hover {
                background-color: #6a5ac8;
            }

        .text-warning {
            color: #ffc107 !important;
        }
    </style>
</head>
<body>
    <ul class="nav">
        <li class="scroll-to-section">
            <div class="dropdown">
                <a href="/">
                    Home
                </a>
            </div>
        </li>
        <li class="scroll-to-section">
            <div class="dropdown">
                <a href="#" class="dropdown-toggle" id="dropdownMenuButton" aria-expanded="false">
                    Phim
                </a>
                <ul class="dropdown-content">
                    @foreach (var item in ViewBag.phim)
                    {
                        <a href="@Url.Action("Details", "Site", new { slug = item.TenRutGon })">@item.TenPhim</a>
                    }
                </ul>
            </div>
        </li>
        <li class="scroll-to-section">
            <a href="#" class="dropdown-toggle" id="dropdownMenuButton" aria-expanded="false">
                Chủ đề
            </a>
            <div class="dropdown-content">
                @foreach (var item in ViewBag.topic)
                {
                    <a href="@Url.Action("PostTopic", "Site", new { slug = item.TenRutGon })">@item.TenChuDe</a>
                }
            </div>
        </li>
        @if (Session["NguoiDung"] == null)
        {
            <li class="scroll-to-section">
                <a href="@Url.Action("DangNhap","User")">Đăng nhập</a>
            </li>
        }
        else
        {
            ProjectFilm_CNPM.Models.ERD.NguoiDung nguoiDung;
            {
                int maND = (int)Session["NguoiDung"];
                var dbContext = new ProjectFilm_CNPM.Models.ApplicationDbContext();
                nguoiDung = dbContext.NguoiDungs.FirstOrDefault(nd => nd.MaND == maND);
            }
            <li class="scroll-to-section">
                <a href="@Url.Action("ProfileUser","User")">Xin chào<span class="text-warning"> @nguoiDung.TenND</span></a>
            </li>
            <li class="scroll-to-section">
                <a href="@Url.Action("DangXuat","User")">Đăng xuất</a>
            </li>
        }
    </ul>
</body>
